@model BlueModas.Web.ViewModel.LoginViewModel
@{
    Layout = null;
    ViewData["Title"] = "Cadastro";
}

<!--
Author: Colorlib
Author URL: https://colorlib.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- Custom Theme files -->
    <link href="~/css/styleRegister.css" rel="stylesheet" />
    <!-- //Custom Theme files -->
    <!-- web font -->
    <link href="//fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,700,700i" rel="stylesheet">
    <!-- //web font -->
</head>
<body>
    <!-- main -->
    <div class="main-w3layouts wrapper">
        <h1>Faça login para coninuar na loja</h1>
        <div class="main-agileinfo">
            <div class="agileits-top">
                <form asp-controller="Account" asp-action="Login" method="post">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <input class="text email" type="email" asp-for="Email" placeholder="Email" required="" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                    <input class="text" type="password" asp-for="Password" placeholder="Senha" required="" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                    <input type="submit" value="Entrar">
                </form>
            </div>
        </div>
        <ul class="colorlib-bubbles">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>
    <partial name="_ValidationScriptsPartial" />
    <!-- //main -->
</body>
</html>



